.title {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 5px 0;
}
.emojis {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}
.empty {
    flex: 1;
}
.all {
    margin-bottom: 5px;
}
